[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anyio = "*"
ariadne = "*"
click = "*"
Flask = "*"
Flask-Cors = "*"
Flask-SQLAlchemy = "*"
graphql-core = "*"
greenlet = "*"
idna = "*"
itsdangerous = "*"
Jinja2 = "*"
MarkupSafe = "*"
six = "*"
sniffio = "*"
SQLAlchemy = "*"
starlette = "*"
typing-extensions = "*"
Werkzeug = "*"
psycopg2-binary = "*"
python-dotenv = "*"
alembic = "*"
aiodataloader = "*"
aioflask = "*"
colorama = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
