[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
graphene-sqlalchemy = "*"
flask = "*"
flask-graphql = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
python-dotenv = "*"
psycopg2-binary = "*"
alembic = "*"
flask-script = "*"
aiodataloader = "*"
waitress = "*"

[dev-packages]
bandit = "*"
pyment = "*"
pylint = "*"
black = "*"
autopep8 = "*"
setuptools = "*"
wheel = "*"

[requires]
python_version = "3.9"
